/* BASE STYLES */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.content {
  padding: 10px 25px;

  .header {
    text-align: center;

    #installButton {
      display: none;
      background: rgb(28, 184, 65);
      color: white;
    }
  }

  .hashtags {
    width: 100%;
    padding: 20px 0px;

    .hashtag {
      text-align: center;

      .card {
        border: 1px solid #eaeaea;
        box-shadow: 0px 0px 10px 0px rgba(39,49,65,0.1);
        margin: 10px 10px 20px 10px;

        .cardHeader {
          padding: 10px;

          p {
            margin: 0;
          }
        }

        .cardHeaderMadC1 {
          background-color: #48ade1;
          color: black;
        }
        .cardHeaderMadC2 {
          background-color: #008931;
          color: white;
        }
        .cardHeaderMadC3 {
          background-color: #8d009f;
          color: white;
        }
        .cardHeaderMadC4 {
          background-color: #00299b;
          color: white;
        }
        .cardHeaderMadC5 {
          background-color: #ffb634;
          color: black;
        }
        .cardHeaderMadC7 {
          background-color: #e00014;
          color: white;
        }
        .cardHeaderMadC8 {
          background-color: #00872e;
          color: white;
        }
        .cardHeaderMadC9 {
          background-color: #f85b29;
          color: white;
        }
        .cardHeaderMadC10 {
          background-color: #6eb62e;
          color: black;
        }

        twitterwidget {
          width: 100% !important;
        }

        .lastUpdate {
          font-size: 12px;
          color: grey;
          padding-bottom: 10px;
        }
      }
    }
  }
}

.footer {
  background-color: #A7A7A7;
  padding: 20px 10px;
  color: white;
  font-size: 12px;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: black;
    text-decoration: underline;
  }

  .license {
    display: flex;
    align-items: center;
  }

  .social {
    font-size: 20px;
  }
}

/* IMPORT STYLES */

@import 'alert';