<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="icon" type="image/png" href="build/images/icon_48.png" />
        <link rel="manifest" href="manifest.json" />
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <script src="{{ asset('build/app.js') }}"></script>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <div class="footer">
            <div class="pure-g">
                <div class="left license pure-u-1-2">
                    <span>{{ "now" | date('Y') }} Adrián Mora - <a target="_blank" href="https://github.com/amg1893/has-renfe-madrid-failed-again/blob/master/LICENSE">MIT License</a> - {{ version }}</span>
                </div>
                <div class="right social pure-u-1-2">
                    <a target="_blank" href="https://twitter.com/leakspin_"><i class="fa fa-twitter"></i></a>
                    <a target="_blank" href="https://github.com/amg1893"><i class="fa fa-github"></i></a>
                    <a target="_blank" href="https://github.com/amg1893/has-renfe-madrid-failed-again"><i class="fa fa-code"></i></a>
                </div>
            </div>
        </div>
    </body>
</html>
